In [1]:
%load_ext sql
%sql sqlite:///./ebay.db

u'Connected: @./ebay.db'

In [ ]:
%sql PRAGMA table_info(Items)

In [ ]:
%%sql
.separator |
.import users.dat Users

In [ ]:
%%sql
DROP TABLE IF EXISTS Items;
DROP TABLE IF EXISTS Users;
DROP TABLE IF EXISTS Bids;
DROP TABLE IF EXISTS Categories;

CREATE TABLE Items (
    itemID INTEGER PRIMARY KEY,
    name TEXT,
    currently FLOAT,
    startBid FLOAT,
    numBids INTEGER,
    startTime TEXT,
    endTime TEXT,
    itemDesc TEXT,    
    buyoutPrice FLOAT,    
    sellerID TEXT,
    FOREIGN KEY (sellerID) REFERENCES Users(userID)    
);

CREATE TABLE Users (
    userID TEXT PRIMARY KEY,
    rating INTEGER,
    location TEXT,
    country TEXT   
);

CREATE TABLE Bids (
    bidderID TEXT,
    itemID INTEGER,
    time TEXT,
    amount FLOAT,
    FOREIGN KEY (bidderID) REFERENCES Users(userID),
    FOREIGN KEY (itemID) REFERENCES Items(itemID)
);

CREATE TABLE Categories (
    itemID INTEGER,
    name TEXT,
    FOREIGN KEY (itemID) REFERENCES Items(itemID)
);

PRAGMA table_info(Items);
PRAGMA table_info(Users);
PRAGMA table_info(Bids);
PRAGMA table_info(Categories);

In [ ]:
%sql .separator |
%sql .import items.dat Items

In [ ]:
%%sql
SELECT *
FROM Users
LIMIT 10

In [ ]:
%%sql
DELETE
FROM Items

In [3]:
-- Query 1
%%sql
SELECT Count(*)
FROM Users

 * sqlite:///./ebay.db
Done.

[(13422,)]

In [4]:
-- Query 2
%%sql
SELECT Count(*)
FROM Users
WHERE Users.location = "New York"

 * sqlite:///./ebay.db
Done.

[(42,)]

In [5]:
-- Query 4
%%sql
SELECT MAX(i.currently), itemID AS Auction
FROM Items i

 * sqlite:///./ebay.db
Done.

[(18000.0, 1046871451)]