In [1]:
%load_ext sql
%sql sqlite:///./ebay.db

u'Connected: @./ebay.db'

In [2]:
%sql PRAGMA table_info(Items)

 * sqlite:///./ebay.db
Done.

[(0, u'itemID', u'INTEGER', 0, None, 1),
 (1, u'name', u'TEXT', 0, None, 0),
 (2, u'currently', u'FLOAT', 0, None, 0),
 (3, u'startBid', u'FLOAT', 0, None, 0),
 (4, u'numBids', u'INTEGER', 0, None, 0),
 (5, u'startTime', u'TEXT', 0, None, 0),
 (6, u'endTime', u'TEXT', 0, None, 0),
 (7, u'itemDesc', u'TEXT', 0, None, 0),
 (8, u'buyoutPrice', u'FLOAT', 0, None, 0),
 (9, u'sellerID', u'TEXT', 0, None, 0)]

In [ ]:
%%sql
.separator |
.import users.dat Users

In [20]:
%%sql
DROP TABLE IF EXISTS Items;
DROP TABLE IF EXISTS Users;
DROP TABLE IF EXISTS Bids;
DROP TABLE IF EXISTS Categories;

CREATE TABLE Items (
    itemID INTEGER PRIMARY KEY,
    name TEXT,
    currently FLOAT,
    startBid FLOAT,
    numBids INTEGER,
    startTime TEXT,
    endTime TEXT,
    itemDesc TEXT,    
    buyoutPrice FLOAT,    
    sellerID TEXT,
    FOREIGN KEY (sellerID) REFERENCES Users(userID)    
);

CREATE TABLE Users (
    userID TEXT PRIMARY KEY,
    location TEXT,
    country TEXT,
    rating INTEGER
);

CREATE TABLE Bids (
    bidderID TEXT,
    itemID INTEGER,
    time TEXT,
    amount FLOAT,
    FOREIGN KEY (bidderID) REFERENCES Users(userID),
    FOREIGN KEY (itemID) REFERENCES Items(itemID)
);

CREATE TABLE Categories (
    itemID INTEGER,
    name TEXT,
    FOREIGN KEY (itemID) REFERENCES Items(itemID)
);

PRAGMA table_info(Items);
PRAGMA table_info(Users);
PRAGMA table_info(Bids);
PRAGMA table_info(Categories);

 * sqlite:///./ebay.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[(0, u'itemID', u'INTEGER', 0, None, 0), (1, u'name', u'TEXT', 0, None, 0)]

In [7]:
%sql .separator |
%sql .import items.dat Items

 * sqlite:///./ebay.db
(sqlite3.OperationalError) near ".": syntax error [SQL: u'.separator |'] (Background on this error at: http://sqlalche.me/e/e3q8)
 * sqlite:///./ebay.db
(sqlite3.OperationalError) near ".": syntax error [SQL: u'.import items.dat Items'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [21]:
%%sql
SELECT *
FROM Items
LIMIT 10

 * sqlite:///./ebay.db
Done.

[]

In [12]:
%%sql
DELETE
FROM Items

 * sqlite:///./ebay.db
0 rows affected.

[]