In [1]:
%load_ext sql
%sql sqlite:///./ebay.db

u'Connected: @./ebay.db'

In [ ]:
%sql PRAGMA table_info(Items)

In [ ]:
%%sql
DROP TABLE IF EXISTS Items;
DROP TABLE IF EXISTS Users;
DROP TABLE IF EXISTS Bids;
DROP TABLE IF EXISTS Categories;

CREATE TABLE Items (
    itemID INTEGER PRIMARY KEY,
    name TEXT,
    currently FLOAT,
    startBid FLOAT,
    numBids INTEGER,
    startTime TEXT,
    endTime TEXT,
    itemDesc TEXT,    
    buyoutPrice FLOAT,    
    sellerID TEXT,
    FOREIGN KEY (sellerID) REFERENCES Users(userID)    
);

CREATE TABLE Users (
    userID TEXT PRIMARY KEY,
    rating INTEGER,
    location TEXT,
    country TEXT   
);

CREATE TABLE Bids (
    bidderID TEXT,
    itemID INTEGER,
    time TEXT,
    amount FLOAT,
    FOREIGN KEY (bidderID) REFERENCES Users(userID),
    FOREIGN KEY (itemID) REFERENCES Items(itemID)
);

CREATE TABLE Categories (
    itemID INTEGER,
    name TEXT,
    FOREIGN KEY (itemID) REFERENCES Items(itemID)
);

PRAGMA table_info(Items);
PRAGMA table_info(Users);
PRAGMA table_info(Bids);
PRAGMA table_info(Categories);

In [ ]:
%%sql
SELECT *
FROM Users
LIMIT 10

In [10]:
%%sql
-- Query 1
SELECT Count(*)
FROM Users

 * sqlite:///./ebay.db
Done.

[(13422,)]

In [9]:
%%sql
-- Query 2
SELECT Count(*)
FROM Users
WHERE Users.location = "New York"

 * sqlite:///./ebay.db
Done.

[(80,)]

In [5]:
%%sql
-- Query 4
SELECT MAX(i.currently), itemID AS Auction
FROM Items i

 * sqlite:///./ebay.db
Done.

[(18000.0, 1046871451)]

In [12]:
%%sql
--- Query 5
SELECT COUNT(*)
FROM Users u
WHERE u.rating > 1000
AND u.userID IN (SELECT i.sellerID
                     FROM Items i)

 * sqlite:///./ebay.db
Done.

[(3130,)]

In [13]:
%%sql
-- Query 6
SELECT COUNT(*)
FROM Users u
WHERE u.userID IN (SELECT i.sellerID
                   FROM Items i)
AND u.userID IN (SELECT b.bidderID
                   FROM Bids b)

 * sqlite:///./ebay.db
Done.

[(1,)]